{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  <title>Amazon Login</title>

  <!-- Css Link -->
    <link rel="stylesheet" href="{% static 'Login_Design/login_design.css' %}">
    <link rel="stylesheet" href="{% static 'Font/Font.css' %}">

    {% comment %} Font css {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">

</head>

<body>

    <div class="All_container_login">

        <div>

            <a href="{% url 'SignIn' %}"><img class="left_Arrow" src="https://img.icons8.com/?size=100&id=39944&format=png&color=000000" alt=""></a>

        </div>

        <div class="Main_login">

            <form class="Form_container" method="post">

                <h2 class="poppins-regular">Welcome <span class="poppins-thin">To Amazon</span></h2>

                {% csrf_token %}
                {{ Login_Input.as_p }}

                <button type="submit" class="Form_Btn poppins-regular">Sign in</button>

            </form>

        </div>

    </div>
  
</body>

</html>