{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  <title>Amazon Login</title>

  <!-- Css Link -->
   <link rel="stylesheet" href="">

</head>

<body>

    <div class="All_container_login">

        <div class="Main_login">

            <form method="post">

                {% csrf_token %}
                {{ Login_Input.as_p }}

            </form>

        </div>

    </div>
  
</body>

</html>